<!DOCTYPE html>
<html ng-app="mpq">
<head>
    <meta charset="utf-8" />
    <!-- meta redirects aren't very friendly
    <noscript>
        <meta http-equiv="Refresh" content="0; url=/noscript/" />
    </noscript>
    -->
    <title>mpq_new</title>
    <link rel="stylesheet" href="/mpq-ui.css" />

    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/uploader/jquery.ui.widget.js"></script>
    <script src="/js/uploader/jquery.iframe-transport.js"></script>
    <script src="/js/uploader/jquery.fileupload.js"></script>

    <script src="/js/autobahn.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/mpq-controller.js"></script>

    <script src="/js/mpq-ui.js"></script>
</head>
<body>
    <noscript>
        <p>This interface requires that scripts be enabled in your browser
        to be of any use. Either enable scripts, or use the
        <a href="/noscript/">script-free version of this page</a>.</p>
    </noscript>
    <div>
        <div id="uploadContainer">
            <div id="uploadTab">Upload tracks</div>
            <div id="uploader" ng-controller="UploaderController">
                <ul id="uploads">
                    <li ng-repeat="upload in uploads">
                        {{ upload.name }}
                        <progress value="{{upload.progress}}" max="100">
                            {{upload.progress}}%
                        </progress>
                    </li>
                </ul>
                <input id="uploaderControl" type="file" name="file" data-url="/tracks" />
                <br />Uploaded {{ completeCount }} file(s).
            </div>
        </div>
    </div>
    <div id="np" ng-controller="NowPlayingController">
        <span id="np-label">Now playing</span>
        {{ track.artist }} - {{ track.title }}
        <br />{{ elapsed | sec2min }} / {{ length | sec2min }}
    </div>
    <div id="np-pad"></div>
    <table ng-controller="TrackListController">
        <thead><tr>
            <td><a href="#" ng-click="sortType='title';sortReverse=!sortReverse">Title</a>
                <span ng-show="sortType == 'title' && !sortReverse">&uarr;</span>
                <span ng-show="sortType == 'title' && sortReverse">&darr;</span></td>
            <td><a href="#" ng-click="sortType='artist';sortReverse=!sortReverse">Artist</a>
                <span ng-show="sortType == 'artist' && !sortReverse">&uarr;</span>
                <span ng-show="sortType == 'artist' && sortReverse">&darr;</span></td>
            <td><a href="#" ng-click="sortType='album';sortReverse=!sortReverse">Album</a>
                <span ng-show="sortType == 'album' && !sortReverse">&uarr;</span>
                <span ng-show="sortType == 'album' && sortReverse">&darr;</span></td>
            <td><a href="#" ng-click="sortType='score';sortReverse=!sortReverse">Votes</a>
                <span ng-show="sortType == 'score' && !sortReverse">&uarr;</span>
                <span ng-show="sortType == 'score' && sortReverse">&darr;</span></td>
        </tr></thead>
        <tr ng-repeat="track in tracks | orderBy:sortType:sortReverse">
            <td>{{track.title}}</td>
            <td>{{track.artist}}</td>
            <td>{{track.album}}</td>
            <td>{{track.score}}</td>
            <td><button ng-click="vote(track)"
                        ng-disabled="track.voted">Vote</button></td>
        </tr>
    </table>
    <div id="ul-pad"></div>
</body>
</html>
