table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
thead {
    border-bottom: 1px solid black;
}
td {
    padding-left: .25em;
    border-left: 1px solid black;
}
tr:nth-child(even) {
    background-color: #bbb;
}
#np, #np-pad {
    width: 100%;
    top: 0;
    left: 0;
}
#np-pad { height: 3em; }
#np {
    height: 2.5em;
    position: fixed;
    overflow-y: scroll;
    background-color: black;
    color: white;
    padding: .5em;
}
#np-label {
    float: right;
    opacity: .5;
    font-size: 2em;
    padding-right: .5em;
}
#ul-pad {
    height: 2em;
}
#uploadContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 25em;
    max-height: 100%;
    overflow: auto;
}

#uploadTab {
    background-color: #ddd;
    border-radius: 0 .5em 0 0;
    padding: .25em;
    display: inline-block;
}

#uploader {
    display: none;
    max-height: 100%;
    border-radius: 0 .5em 0 0;
    border: 1px solid black;
    background-color: white;
}

#uploads {
    padding: 0;
    margin: 0;
    list-style: none;
}

#uploads > li {
    padding: .25em 1em;
}

#uploads > li:nth-child(even) {
    background-color: #ced5df;
}

#uploaderControl {
    padding: .25em 1em;
}

progress {
    width: 100%;
}

